import React, { useEffect, useState, useRef, memo } from 'react';
import { useLocation, useNavigate } from 'react-router-dom';
import {Form,Space,message} from 'antd';
import {} from '@ant-design/icons';
import { useQuery, useMutation } from '@tanstack/react-query';
import useUrlState from '@ahooksjs/use-url-state';

import PageTitle from '@components/page-title';
import AppBreadcrumb from '@components/app-breadcrumb';
import AppCard from '@components/app-card';
import AppButton from '@components/app-button';
import AppTable from '@components/app-table';
import AppModal from '@components/app-modal';
import AppInput from '@components/app-input';
import AppSelect from '@components/app-select';
import StatusTag from '@components/status-tag';

import { useAppDispatch, useAppSelector } from '@hooks';
import { confirmModal } from '@utils';

import type { ColumnsType } from 'antd/lib/table';

import "./<%= data.name %>.less"

    const <%= data.componentName %> = () => {
        const location = useLocation();
        const navigate = useNavigate();

        const dispatch = useAppDispatch();
        const userInfo = useAppSelector((store) => store.user);

        const [demoForm] = Form.useForm<{ TODO: string; }>();

            const demoMutation = useMutation("TODO", {
            onSuccess() {
            message.success('修改成功');
            },
            onError(err:any) {
            message.error('修改失败');
            }
            });

            return (
            <div className='<%= data.name %>-container'>
                <AppBreadcrumb></AppBreadcrumb>
                <AppCard>
                    <h2>
                        <%= data.componentName %>
                    </h2>
                </AppCard>
            </div>
            );
            };

            export default memo(<%= data.componentName %>);